h1
{ 
    font-family:comic sans ms;
    text-align:center;
    color:blue;
    text-shadow:4px 4px 2px grey;
}

body
{
    width:1150px;
    height:700px;
    border : 1px solid black;
    border-radius:10px;
    background-color:#DFF2FF;
}


#logo
{

    height:200px;
    width:260px;
    top:20px;
    border-radius:10px;
}

h2
{
    position:absolute;
    top:165px;
    left:300px;
    color:blue;  
    cursor:pointer;
    font-family:comis sans ms;
}


#info
{    
    background-color:RGB(237,237,237);
    border-color:blue ;
    border-radius:10px;
    box-shadow:6px 6px 0px rgb(250,247,255);
    position:absolute;
    width:280px;
    left:835px;
    top:105px;
    height:320px;
    border-style:inset;
}

#photo_a
{
    height:600px;
    border-radius:10px;
}

h3
{
    font-weight:bold;
    text-align:center;
    font-family:comis sans ms;
}

#emploi
{
    background-color:RGB(237,237,237);
    border-color:blue ;
    border-radius:10px;
    border-style:inset;
    box-shadow:6px 6px 0px rgb(250,247,255);
    position:absolute;
    left:835px;
    width:280px;
    top:480px;
}

#interet
{
    background-color:RGB(237,237,237);
    border-color:blue;
    border-radius:10px;
    border-style:inset;
    box-shadow:6px 6px 0px rgb(250,247,255);
    position:absolute;
    left:20px;
    width:600px;
    top:401px;

}

#logoa
{ 
    height:40px;
    border-radius:10px;
}