body
{
    /*padding: 12px;*/
    /*  background-image: url("img/logo.png");
     background-attachment: fixed; /* Le fond restera fixe */
    /* background-repeat: no-repeat; /* Le fond ne sera pas r�p�t� */
    /*  background-position: 5% 55% ; /* Le fond sera plac� en haut � droite */
    text-align : center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-image : url("img/test.png");
    /*background-repeat: no-repeat;*/
    /*background-repeat: no-repeat;*/
    background-attachment: scroll;
    margin: auto;
    /* heigth : 2000px;*/
    /*position:relative;*//* Pour centrer notre page */
    /*border: black solid 1px;*/
}



/*HEADER*/

header
{
    /*border-radius: 50px;
     box-shadow: 0px 0px 10px azure;
     border: 2px solid white;
     width: 1400px;
     height: 100px;
     position: absolute;
     top: 50px;
     left: 50px;
     background-image: url("img/banniere3.png");
     background-repeat: no-repeat;*/

}

#ID
{

    position: absolute;
    top: 0px;
    left: 0px;
}




/*NAVIGATION PRINCIPALE*/

#container {


    background-color: #666;
    position: absolute;
    top: 240px;
    z-index:1;
    width: 100%;
    /*background: #F4ECD9;*/
    text-align: center;
    font-family: Comic Sans MS, Arial Black, sans-serif;
    height:25px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#nav, #nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav a {
    display: block;
    width: 10em;
    color: white;
    text-decoration: none;
}

#nav li {
    float: left;
    width: 10em;
    padding-left: 20px;
}

#nav li ul {
    /*padding-top: 10px;*/
    /*margin: 0 0 0 0px;*/
    position: absolute;
    
    margin-left: -20px;
    /*margin-top: 7px;*/
    width: 12em;
    left: -999em;
    border-bottom: 3px solid burlywood;
    border-left: 3px solid burlywood;
    border-right: 3px solid burlywood;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

#nav li:hover {
    background-color: burlywood;
    padding-top: 8px;
}

#nav li:hover ul a {
    color: #666;
}

#nav li:hover ul {
    left: auto;

}

#nav li:hover ul, #nav li.sfhover ul {
    left: auto;
}

/*.elementmenu
{
    padding-top: 10px;
    box-shadow: 0px 0px 10px azure;
    width: 450px;  /*Tr�s important : donner une taille au menu */	
/*position: absolute;
top : 213px;
left: 750px;
height : 35px;
border: 2px solid white;
/*margin-bottom: 20px;*/ /* Pour �viter que les �l�ments du menu ne soient trop coll�s */
/*background-color : tan;
}*/

/*INSCRIPTION*/

.inscr
{
    background-image: url("img/inscription.gif");
    background-repeat: no-repeat;
    background-position: 10px 130px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: left;/*110 et 320*/
    width: 500px;
    top: 80px;
    left: 683px;
    padding: 8px;
    position: absolute;
    background-color: tan;

}

.inscr h1
{
    text-align: center;
    font-size: 20px;
    text-shadow: 4px 4px 6px black;
    font-family: Comic Sans MS, Arial Black, sans-serif;
    font-weight: bold;
}

/*CONNECTION*/

.connec
{
    background-image: url("img/cadenas1.png");
    background-repeat: no-repeat;
    background-position: 80px 60px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: left;
    width: 500px;
    top: 170px;
    left: 683px;
    padding: 8px;
    position: absolute;
    background-color: tan;
}

.connec p
{
    margin-left: 225px;
    text-decoration: underline;
}


.connection
{
    /*border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 10px azure;*/
    width: 400px; /* Tr�s important : donner une taille au menu */	
    position: absolute;
    top : 160px;
    right : 0px;
    height : 50px ;
    /*border: 2px solid white;*/
    margin-bottom: 20px; /* Pour �viter que les �l�ments du menu ne soient trop coll�s */
    /*background-color : tan;*/
}






/*.elementmenu li
{
    display: inline-block;
    margin-right: 0px;
    width : 120px;
    height : 20px;
}*/

/*#soiree
{
    background-image: url("img/ongletSoiree.png");
    background-repeat: no-repeat;

}*/

#soiree:active
{
    background-image: url("img/ongletSoireeEnf.png");
    background-repeat: no-repeat;

}

#bar
{
    background-image: url("img/ongletBar.png");
    background-repeat: no-repeat;

}

#bar:active
{
    background-image: url("img/ongletBarEnf.png");
    background-repeat: no-repeat;

}

#concert
{
    background-image: url("img/ongletConcert.png");
    background-repeat: no-repeat;

}

#concert:active
{
    background-image: url("img/ongletConcertEnf.png");
    background-repeat: no-repeat;

}

#restauration
{
    background-image: url("img/ongletRestauration.png");
    background-repeat: no-repeat;

}

#restauration:active
{
    background-image: url("img/ongletRestaurationEnf.png");
    background-repeat: no-repeat;

}

#spectacle
{
    background-image: url("img/ongletSpectacle.png");
    background-repeat: no-repeat;

}

#spectacle:active
{
    background-image: url("img/ongletSpectacleEnf.png");
    background-repeat: no-repeat;

}

/*#autre
{
    background-image: url("img/ongletAutre.png");
    background-repeat: no-repeat;

}

#autre:active
{
    background-image: url("img/ongletAutreEnf.png");
    background-repeat: no-repeat;

}*/

.connection li
{

    color: blue;
    display: inline;
    margin-right: 1px;
    /*background-image: url("img/onglet.png");
    background-repeat: no-repeat;*/
    width : 100%;
    height : 20px;
}

/*.elementmenu
{
    box-shadow: 0px 0px 10px azure;
    width: 100%; /* Tr�s important : donner une taille au menu */	
/*position: absolute;
top : 213px;
height : 45px;
border: 2px solid white;
/*margin-bottom: 20px; /* Pour �viter que les �l�ments du menu ne soient trop coll�s */
/*background-color : tan;
}*/

.elementmenu ul /* Toutes les listes � puces se trouvant dans un menu */
{
    padding-left: 0px; /* ... mais on modifie ensuite la marge de gauche, donc celle-l� fera finalement 20 pixels */
    margin-bottom: 5px; /* M�me chose que tout � l'heure, on modifie ensuite juste margin-bottom, mais tous les autres sont � 0px */
}   


/*SECTION*/

section
{
    height : 1000px;
    width: 100%;
    position: absolute;
    top: 266px;
    background-color : red;

}

/*1-ARTICLE*/

article
{
    /*box-shadow: 0px 0px 10px azure;*/
    width : 1500px;
    height : 500px;
    position: absolute;
    right : 0px;
    top : 250px;
    /* border: 2px solid white;	*/
    background-color: darkred;

}

/*1-1- TITRE*/
.titreArticleAccueil
{
    background-image : url("img/Titre_Accueil.png");
    background-repeat: no-repeat;
    position: absolute;
    width : 1100px;
    height: 75px;
    left : 400px;
    top : 1px;
}

.titreArticleSpectacle
{
    background-image : url("img/TitreSpectacle4.png");
    background-repeat: no-repeat;
    position: absolute;
    width : 1400px;
    height: 150px;
    left : 400px;
    top : 1px;
}

.titreArticleInscription
{
    background-image : url("img/Inscription.png");
    background-repeat: no-repeat;

    position: absolute;
    width : 1400px;
    height: 75px;
    left: 400px;
    top : 1px; 
}

.titreArticleConnexion
{
    background-image : url("img/Connexion.png");
    background-repeat: no-repeat;

    position: absolute;
    width : 1400px;
    height: 75px;
    left : 400px;
    top : 1px;
}

.titreArticleRechercheAvancee
{
    background-image : url("img/Recherche_Avancee.png");
    background-repeat: no-repeat;

    position: absolute;
    width : 1400px;
    height: 75px;
    left : 400px;
    top : 1px;
}

/* 1-2 NAV*/

.navinter{

    width: 200px;
    height : 500px ;
    position: absolute;
    bottom : 0px;
    left : 0px;

}

.navinter li
{
    width : 180px;
    height : 20px;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid black;


}


.navinter a
{
    text-decoration:none;
    color: black;
    font-style: italic;
}

/*1-3 PAGE*/

.pageOnglet
{
    border: 1px solid white;
    border-left: black;
    border-top: black;
    width: 950px;
    height : 550px ;
    position: absolute;
    right: 247px;
    bottom: -3px;
    background-color : silver;
    overflow: auto;

}

.page
{
    /*border-top: 2px solid black;
    border: 2px solid white;*/
    position: absolute;
    height : 648px;
    top : 51px;
    /*background-color: wheat;*/
    background-color : white;
    width : 100%;

}

#pageBDD{ /*osef*/
    width: 950px;
    height : 600px ;
    position: absolute;
    left: 2px;
    height : 600px;
    top : 102px;
    background-color : silver;
    width : 1150px;

}

/*1-4 EVENEMENT*/

.evenement{
    width: 933px;
    height: 600px;
    background-color:  silver;
    border: 2px solid black;
    /* overflow: auto;*/
    font-family: Comic Sans MS;

}

.texteEvent
{
    position: relative;
    left : 100px;    
}

.evenement .imageflottante{
    position:relative;
    top : -400px;
    left : -300px;
    border: 2px solid black;
}




.evenement h1{


    height : 25px;
    width: 550px;    
    border: 2px groove gray;

}


.evenement strong{

    font-weight: bold;
    text-decoration: underline;        
}




.evenement .etoile {

    border: 2px solid black;
    display: inline-block;

}

.evenement #note {    
    display: inline-block;
    position: relative;
    left : 25px;
}


.evenement #bouton1 {
    position: relative;
    left: -50px;
    display: inline-block;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}

.evenement #bouton2 {
    /*position: relative;
    left: 530px;
    top: 330px;*/
    display: inline-block;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}

.evenement #bouton3 {
    /*position: relative;
    right: 70px;
    top: 330px;*/
    position: relative;
    left: 50px;
    display: inline-block;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}



/*2-ASIDE*/


.new
{

    width: 100%;
    height : 250px ;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color : white;



}

.eventNew{
    background-image: url("img/copie.png");
    position: absolute;
    height : 250px ;
    width: 50%;
    left : 25%;
    box-shadow: 0px 0px 10px azure;
    border-radius: 10px 10px 10px 10px;



}



.navg
{
    position: absolute;
    left: 50px;
    top: 300px;



}


.toporg
{

    width: 225px;
    height : 180px ;
    position: absolute;
    left: 50px;
    top: 650px;

    background-color : silver;


}



#livreor
{
    box-shadow: 0px 0px 10px azure;
    width: 225px;
    height : 100px ;
    position: absolute;
    right: 0px;
    top: 600px;
    border-radius: 10px 10px 10px 10px;
    background-color : silver;


} 

/*FOOTER*/


footer
{ 

    /*border-top-left-radius: 50px;
    border-top-right-radius: 50px;*/
    box-shadow: 0px 0px 10px azure;
    width: 100%;
    /*border: 2px solid white;*/
    position: absolute;
    top: 3000px;
    height : 120px;
    background-color : white;

}

/*FONCTION BANIERE NEWS*/

a:visited
{
    color: crimson;   
}



.blanc
{
    color: whitesmoke;
}

/*FONCTION RECHERCE*/

.rechercheSimple 
{ 
    color : blue;
    font-size: 14px;
    font-style : italic;
    font-weight: bolder;
    font-family: Verdana, Trebuchet MS, Arial, sans-serif;
}

.rechercheAvancee
{ 
    /*font-size : 0.7em;*/
    text-decoration : underline;
    color : grey;
    font-style : normal;

}

.inline
{
    display : inline-block;
}


/*ARBORESSANCE*/

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #000;
    color: #fff;
    width: 200px;
    font: 1.2em "Trebuchet MS", sans-serif;
}

.navigation a, .navigation span {
    display: block;
    padding: 4px 10px;
    color: #fff;
    text-decoration: none;
    background: #000 url(img/menu-item.png) left bottom no-repeat;
}

.navigation .sousMenuBascule a, .navigation .sousMenuBascule span {
    background-image: url(img/menu-item.png);
}

/*.navigation .open a, .navigation .open span {
        background-image: url(img/menu-item-enroule.png);
        }*/

.navigation a:hover, .navigation a:focus, .navigation a:active {
    text-decoration: underline;
}

.navigation .sousMenu {
    list-style: none;
    /*background: #ccc url(subMenu.png) 0 0 repeat-x;*/
    background-color: blue;
    font-size: .9em;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #666;
}

.navigation ul.sousMenu a {
    background: none;
    padding: 3px 20px;
}

.sousMenu, .sousMenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sousMenu li ul {
    margin: -28px 0 0 115px;
    position: absolute;
    width: 10em;
    left: -999em;
    margin-left: 200px;
    display: block;
    text-decoration: none;
    border: 2px solid black;
    background-color: brown;
    text-align: left;
}

.sousMenu li:hover ul {
    left: auto;
}

.sousMenu li:hover ul, .sousMenu li.sfhover ul {
    left: auto;
}
