body
{
    padding: 12px;
    /*  background-image: url("img/logo.png");
     background-attachment: fixed; /* Le fond restera fixe */
    /* background-repeat: no-repeat; /* Le fond ne sera pas r�p�t� */
    /*  background-position: 5% 55% ; /* Le fond sera plac� en haut � droite */
    text-align : center;
    margin-top: 10px;
    margin-bottom: 20px;
    width:1470px;
    background-image : url("img/testt3.jpg");
    margin: auto;
    position:relative;/* Pour centrer notre page */

}

.center
{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: left;
    width: 500px;
    top: 110px;
    left: 320px;
    padding: 8px;
    position: absolute;
    background-color:goldenrod;
}

/*HEADER*/

header
{
    border: 2px solid black;
    width: 1400px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-image: url("img/banderole.jpg");
    background-repeat: no-repeat;

}

#ID
{

    position: absolute;
    top: 0px;
    left: 0px;
}




/*NAVIGATION PRINCIPALE*/

nav
{
    width: 975px; /* Tr�s important : donner une taille au menu */	
    position: absolute;
    top : 152px;
    left : 50px;
    height : 50px ;
    border: 2px solid black;
    margin-bottom: 20px; /* Pour �viter que les �l�ments du menu ne soient trop coll�s */
    background-color : white;
}
.connection
{
    width: 400px; /* Tr�s important : donner une taille au menu */	
    position: absolute;
    top : 152px;
    left : 1050px;
    height : 50px ;
    border: 2px solid black;
    margin-bottom: 20px; /* Pour �viter que les �l�ments du menu ne soient trop coll�s */
    background-color : white;
}

nav li
{
    display: inline-block;
    margin-right: 0px;
    width : 120px;
    height : 20px;
}

/*#soiree
{
    background-image: url("img/ongletSoiree.png");
    background-repeat: no-repeat;

}*/

#soiree:active
{
    background-image: url("img/ongletSoireeEnf.png");
    background-repeat: no-repeat;

}

#bar
{
    background-image: url("img/ongletBar.png");
    background-repeat: no-repeat;

}

#bar:active
{
    background-image: url("img/ongletBarEnf.png");
    background-repeat: no-repeat;

}

#concert
{
    background-image: url("img/ongletConcert.png");
    background-repeat: no-repeat;

}

#concert:active
{
    background-image: url("img/ongletConcertEnf.png");
    background-repeat: no-repeat;

}

#restauration
{
    background-image: url("img/ongletRestauration.png");
    background-repeat: no-repeat;

}

#restauration:active
{
    background-image: url("img/ongletRestaurationEnf.png");
    background-repeat: no-repeat;

}

#spectacle
{
    background-image: url("img/ongletSpectacle.png");
    background-repeat: no-repeat;

}

#spectacle:active
{
    background-image: url("img/ongletSpectacleEnf.png");
    background-repeat: no-repeat;

}

#autre
{
    background-image: url("img/ongletAutre.png");
    background-repeat: no-repeat;

}

#autre:active
{
    background-image: url("img/ongletAutreEnf.png");
    background-repeat: no-repeat;

}

.connection li
{
    display: inline-block;
    margin-right: 1px;
    background-image: url("img/onglet.png");
    background-repeat: no-repeat;
    width : 100px;
    height : 20px;
}



.elementmenu ul /* Toutes les listes � puces se trouvant dans un menu */
{
    padding-left: 10px; /* ... mais on modifie ensuite la marge de gauche, donc celle-l� fera finalement 20 pixels */
    margin-bottom: 5px; /* M�me chose que tout � l'heure, on modifie ensuite juste margin-bottom, mais tous les autres sont � 0px */
}   


/*SECTION*/

section
{

    /*border: 2px solid black;	*/
    height : 700px;
    width: 1400px;
    position: absolute;
    left : 50px;
    top: 225px;

}

/*1-ARTICLE*/

article
{
    width : 1150px;
    top : 0px;
    left : 0px;
    height : 700px;
    border: 2px solid black;	
    background-color : #FEA466;

}

/*1-1- TITRE*/
.titreArticle
{
    /*background-color : #FEA466;*/
    /*border: 2px solid black;	*/
    position: absolute;
    width : 1150px;
    height: 75px;
    left : 3px;
    top : 1px;
}



/* 1-2 NAV*/

#navinter{

    width: 200px;
    height : 500px ;
    position: absolute;
    bottom : 0px;
    left : 0px;

}

#navinter li
{
    width : 180px;
    height : 20px;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid black;	


}


#navinter a
{
    text-decoration:none;
    color: black;
    font-style: italic;
}

/*1-3 PAGE*/

.pageOnglet
{
    border: 2px solid black;
    width: 950px;
    height : 600px ;
    position: absolute;
    right: 247px;
    bottom: -3px;
    background-color : silver;
    overflow: auto;

}

.page
{
    background-image: url("img/essai.png");
    border: 2px solid black;
    position: absolute;
    left: 0px;
    height : 624px;
    top : 77px;
    background-color: linen;
    width : 1150px;

}

#pageBDD{ /*osef*/
    width: 950px;
    height : 600px ;
    position: absolute;
    left: 2px;
    height : 600px;
    top : 102px;
    background-color : silver;
    width : 1150px;

}

/*1-4 EVENEMENT*/

.evenement{
    position : absolute;
    top : 5px;
    left : 5px;
    width: 950px;
    height: 500px;
    background-color:  #d7d6d6;
    border: 2px solid black;
    overflow: scroll;

}



h1{
    position: absolute;
    text-align: center;
    width: 550px;
    top: 30px;
    right: 70px;
    border: 2px groove gray;
}

strong{
    font-weight: bold;
    text-decoration: underline;        
}

span {

    margin-left: 75px;
}

.detail {
    position: absolute;
    width: 530px;
    right: 50px;
    top: 150px;
    font-family: Comic Sans MS;
}


.imageflottante{
    position:absolute;
    float: left;
    margin: 50px;
    width: 200px;
    height: 200px;
    border: 2px solid orange;
}

.etoile {
    position: absolute;
    top: 275px;
    left: 370px;
    border: 2px solid black;

}

#note {    
    position: absolute;
    top: 260px;
    left: 500px;
}

#lien {
    position: absolute;
    width: 530px;
    right: 50px;
    top: 110px;
    font-size: small
}

#bouton1 {
    position: absolute;
    left: 330px;
    top: 330px;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}

#bouton2 {
    position: absolute;
    left: 530px;
    top: 330px;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}

#bouton3 {
    position: absolute;
    right: 70px;
    top: 330px;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}


/*2-ASIDE*/


#agenda
{
    width: 225px;
    height : 180px ;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 10px 10px 10px 10px;
    background-color : silver;


}



#map
{
    width: 225px;
    height : 180px ;
    position: absolute;
    right: 0px;
    top: 200px;
    border-radius: 10px 10px 10px 10px;
    background-color : silver;


}


#forum
{
    width: 225px;
    height : 180px ;
    position: absolute;
    right: 0px;
    top: 400px;
    border-radius: 10px 10px 10px 10px;
    background-color : silver;


}



#livreor
{
    width: 225px;
    height : 100px ;
    position: absolute;
    right: 0px;
    top: 600px;
    border-radius: 10px 10px 10px 10px;
    background-color : silver;


}

/*FOOTER*/


footer
{ 
    width: 1400px;
    border: 2px solid black;
    position: absolute;
    top: 950px;
    height : 120px;
    left : 50px;
    margin-bottom:20px;
    background-color : white;

}
