body
{
    /*padding: 12px;*/
    background-image: url("img/bannierev2.41.png");
    /*background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas r�p�t� */
    /*  background-position: 5% 55% ; /* Le fond sera plac� en haut � droite */
    text-align : center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    /*background-image : url("img/test.png");*/
    /*background-repeat: no-repeat;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    margin: auto;
    /*background-color: #7297b7;*/
    /* heigth : 2000px;*/
    /*position:relative;*//* Pour centrer notre page */
    /*border: black solid 1px;*/
}



/*HEADER*/

header
{

    /*border-radius: 50px;
     box-shadow: 0px 0px 10px azure;
     border: 2px solid white;
     width: 1400px;
     height: 100px;
     position: absolute;
     top: 50px;
     left: 50px;
     background-image: url("img/banniere3.png");
     background-repeat: no-repeat;*/

}

#ID
{

    position: absolute;
    top: 0px;
    left: 0px;
}




/*NAVIGATION PRINCIPALE*/

.container {


    background-color: #666;
    position: absolute;
    top: 330px;
    z-index:1;
    width: 100%;
    /*background: #F4ECD9;*/
    text-align: center;
    font-family: Comic Sans MS, Arial Black, sans-serif;
    height:25px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 10px black;
}

#nav, #nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav a {
    display: block;
    width: 10em;
    color: white;
    text-decoration: none;
}

#nav li {
    float: left;
    width: 10em;
    padding-left: 20px;
}

#nav li ul {
    /*padding-top: 10px;*/
    /*margin: 0 0 0 0px;*/
    position: absolute;

    margin-left: -20px;
    /*margin-top: 7px;*/
    width: 12em;
    left: -999em;
    border-bottom: 3px solid burlywood;
    border-left: 3px solid burlywood;
    border-right: 3px solid burlywood;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

#nav li:hover {
    background-color: burlywood;
    padding-top: 8px;
}

#nav li:hover ul a {
    color: #666;
}

#nav li:hover ul {
    left: auto;

}

#nav li:hover ul, #nav li.sfhover ul {
    left: auto;
}

/*.elementmenu
{
    padding-top: 10px;
    box-shadow: 0px 0px 10px azure;
    width: 450px;  /*Tr�s important : donner une taille au menu */
/*position: absolute;
top : 213px;
left: 750px;
height : 35px;
border: 2px solid white;
/*margin-bottom: 20px;*/ /* Pour �viter que les �l�ments du menu ne soient trop coll�s */
/*background-color : tan;
}*/

/*INSCRIPTION*/


.contenuInscription {
    position: absolute;
    background-color: #ebe2d9;
    padding: 0px 10px 10px 10px;
    width: 400px;
    margin-left: 350px;
    margin-top: 100px;
}

.contenuInscription span {

    color: red;
}

.fieldset {
    padding:0 20px 20px 20px;
    /*margin-bottom:10px;*/
    border:5px double #666;
    background-color: white;
}
.titreInscription {
    color: red;
    font-weight: bold;
    font-size: 20px;
}


.contenuInscription input[type=text], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuInscription input[type=text], textarea, select {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuInscription input[type=password], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuInscription input[type=password], textarea, select {
    padding:3px;
    border:1px solid #cebd8b;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuInscription input[type=email], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuInscription input[type=email], textarea, select {
    padding:3px;
    border:1px solid #cebd8b;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuInscription input[type=submit], input[type=reset] {
    margin-top: 10px;
    width:100px;
    box-shadow:0px 0px 1px black;
    cursor:pointer;
}






.inscr
{
    border: 1px solid black;
    margin-top : 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding-right: 180px;
    /*background-image: url("img/inscription2.gif");
    background-repeat: no-repeat;
    background-position: 10px 130px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: left;/*110 et 320*/
    /*width: 500px;
    top: 120px;
    left: 300px;
    padding: 8px;
    position: absolute;
    background-color: #666;*/

}

.inscr h1
{

    /*text-align: center;
    font-size: 20px;
    text-shadow: 4px 4px 6px white;
    font-family: Comic Sans MS, Arial Black, sans-serif;
    font-weight: bold;
    color: white;*/
}

.inscr span {
    color: black;
}

/*CONNECTION*/

.connec {
    position: relative;
    border: 1px solid #202020;
    background-color: #666;
    border-radius: 10px;
    text-align: left;
    width: 400px;
    height: 220px;
    margin-left: 1460px;
    margin-top:15px;
    box-shadow: 0px 0px 15px #666;
}

.connec input[type=submit]
{
    cursor: pointer;
}

.connec p
{
    color: #d0d0ff;
    text-shadow: 0px 0px 10px #d0d0ff;
    padding-left: 60px;
}

.connec p a {

    color: #ff6040;
    text-shadow: none;
}

.connec h2 {

    text-align: center;
    color: white;
    text-shadow: 0px 0px 15px white;
}


.connexion
{
    /*border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 10px azure;*/
    width: 400px; /* Tr�s important : donner une taille au menu */
    position: absolute;
    top : 280px;
    left : 1537px;
    height : 50px ;
    /*border: 2px solid white;*/
    margin-bottom: 20px; /* Pour �viter que les �l�ments du menu ne soient trop coll�s */
    /*background-color : tan;*/
}

.connexion li
{

    color: blue;
    display: inline;
    margin-right: 1px;
    /*background-image: url("img/onglet.png");
    background-repeat: no-repeat;*/
    width : 100%;
    height : 20px;
}

.connexionSansProfil
{
    width: 580px;
    position: absolute;
    top : 289px;
    left : 1348px;
    height : 50px ;
    margin-bottom: 20px;
}

.connexionSansProfil li
{

    color: blue;
    display: inline;
    margin-right: 1px;
    /*background-image: url("img/onglet.png");
    background-repeat: no-repeat;*/
    width : 100%;
    height : 20px;
}



/*.elementmenu li
{
    display: inline-block;
    margin-right: 0px;
    width : 120px;
    height : 20px;
}*/

/*#soiree
{
    background-image: url("img/ongletSoiree.png");
    background-repeat: no-repeat;

}*/

#soiree:active
{
    background-image: url("img/ongletSoireeEnf.png");
    background-repeat: no-repeat;

}

#bar
{
    background-image: url("img/ongletBar.png");
    background-repeat: no-repeat;

}

#bar:active
{
    background-image: url("img/ongletBarEnf.png");
    background-repeat: no-repeat;

}

#concert
{
    background-image: url("img/ongletConcert.png");
    background-repeat: no-repeat;

}

#concert:active
{
    background-image: url("img/ongletConcertEnf.png");
    background-repeat: no-repeat;

}

#restauration
{
    background-image: url("img/ongletRestauration.png");
    background-repeat: no-repeat;

}

#restauration:active
{
    background-image: url("img/ongletRestaurationEnf.png");
    background-repeat: no-repeat;

}

#spectacle
{
    background-image: url("img/ongletSpectacle.png");
    background-repeat: no-repeat;

}

#spectacle:active
{
    background-image: url("img/ongletSpectacleEnf.png");
    background-repeat: no-repeat;

}

/*#autre
{
    background-image: url("img/ongletAutre.png");
    background-repeat: no-repeat;

}

#autre:active
{
    background-image: url("img/ongletAutreEnf.png");
    background-repeat: no-repeat;

}*/



/*.elementmenu
{
    box-shadow: 0px 0px 10px azure;
    width: 100%; /* Tr�s important : donner une taille au menu */
/*position: absolute;
top : 213px;
height : 45px;
border: 2px solid white;
/*margin-bottom: 20px; /* Pour �viter que les �l�ments du menu ne soient trop coll�s */
/*background-color : tan;
}*/

.elementmenu ul /* Toutes les listes � puces se trouvant dans un menu */
{
    padding-left: 0px; /* ... mais on modifie ensuite la marge de gauche, donc celle-l� fera finalement 20 pixels */
    margin-bottom: 5px; /* M�me chose que tout � l'heure, on modifie ensuite juste margin-bottom, mais tous les autres sont � 0px */
}


/*SECTION*/

section
{
    height : 1500px;
    width: 100%;
    position: absolute;
    top: 328px;
    background-color : white;

}

.positionBouton {

    position: absolute;
    margin-left: 90px;

}

/*1-ARTICLE*/

article
{
    /*box-shadow: 0px 0px 10px azure;*/
    width : 60%;
    height : 1250px;
    position: absolute;
    right : 20%;
    top : 320px;
    /* border: 2px solid white;	*/
    background-color: #ebe2d9;
    box-shadow: 0px 0px 10px black;
    overflow: auto;

}


.articleevent{
    /*box-shadow: 0px 0px 10px azure;*/
    width : 75%;
    height : 1200px;
    position: absolute;
    right : 50px;
    top : 300px;
    /* border: 2px solid white;	*/
    background-color: #ebe2d9;
    overflow : auto;
    box-shadow: 0px 0px 10px black;




}

/*1-1- TITRE*/
/*.titreArticleAccueil
{
    background-image : url("img/Titre_Accueil.png");
    background-repeat: no-repeat;
    position: absolute;
    width : 1100px;
    height: 75px;
    left : 400px;
    top : 1px;
}

.titreArticleSpectacle
{
    background-image : url("img/TitreSpectacle4.png");
    background-repeat: no-repeat;
    position: absolute;
    width : 1400px;
    height: 150px;
    left : 400px;
    top : 1px;
}

.titreArticleInscription
{
    background-image : url("img/Inscription.png");
    background-repeat: no-repeat;

    position: absolute;
    width : 1400px;
    height: 75px;
    left: 10px;
    top : 1px;
}

.titreArticleConnexion
{
    background-image : url("img/Connexion.png");
    background-repeat: no-repeat;

    position: absolute;
    width : 1400px;
    height: 75px;
    left : 10px;
    top : 1px;
}

.titreArticleRechercheAvancee
{
    background-image : url("img/Recherche_Avancee.png");
    background-repeat: no-repeat;

    position: absolute;
    width : 1400px;
    height: 75px;
    left : 10px;
    top : 1px;
}*/

/* 1-2 NAV*/

.navinter{

    width: 200px;
    height : 500px ;
    position: absolute;
    bottom : 0px;
    left : 0px;

}

.navinter li
{
    width : 180px;
    height : 20px;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid black;


}


.navinter a
{
    text-decoration:none;
    color: black;
    font-style: italic;
}

/*1-3 PAGE*/

.pageOnglet
{
    border: 1px solid white;
    border-left: black;
    border-top: black;
    width: 950px;
    height : 550px ;
    position: absolute;
    right: 247px;
    bottom: -3px;
    background-color : silver;
    overflow: auto;

}

.page /*besoin ou pas ?*/
{
    /*border-top: 2px solid black;
    border: 2px solid white;*/
    position: absolute;
    height : 648px;
    top : 91px;
    /*background-color: wheat;*/
    background-color : #ebe2d9;
    width : 100%;

}

#pageBDD{ /*osef*/
    width: 950px;
    height : 600px ;
    position: absolute;
    left: 2px;
    height : 600px;
    top : 142px;
    background-color : silver;
    width : 1150px;

}

/*1-4 EVENEMENT*/

.evenement{
    text-align : left;
    width: 1400px;
    height: 350px;
    font-family: Comic Sans MS;
    background-color : white;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px 10px 10px 10px;
    /*background-image: url("img/bande.gif");
    background-repeat: repeat-x;*/
    margin-top : 10px;
    margin-left: 10px;
    overflow : hidden;

}

.color {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #666;
    height: 30px;
    border: 1px solid #666;
    box-shadow: 0px 0px 10px #666;
}

.evenement .imageflottante{
    position:relative;
    top : 20px;
    left : 30px;
    border: 2px solid black;
}

.texteEvent
{
    position: relative;
    left : 300px;
    top : -180px;
}
.tofevent{
    width : 100px;
    height : 200px;


}





.evenement h1{

    height : 25px;
    width: 550px;
    text-decoration: underline;
    position: relative;
    left : 50px;
}


.evenement strong{

    font-weight: bold;

}




.evenement .etoile {

    border: 2px solid black;
    display: inline-block;

}

.evenement #note {
    display: inline-block;
    position: relative;
    left : 25px;
}


.evenement #bouton1 {
    position: relative;
    left: 0px;
    display: inline-block;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}

.evenement #bouton2 {

    display: inline-block;
    position: relative;
    left : 20px;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}

.evenement #bouton3 {

    position: relative;
    left: 40px;
    display: inline-block;
    width: 150px;
    text-align: center;
    color: white;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px outset #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#343434");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#343434));
    background-image: -moz-linear-gradient(top center, #cfcfcf, #343434);
    background-image: -o-linear-gradient(top, #cfcfcf, #343434);
    font-family: Comic Sans MS;
}



/*2-ASIDE*/

/*NEWS*/

.new
{

    width: 100%;
    height : 250px ;
    position: absolute;
    right: 0px;
    top: 40px;
    background-color : #ebe2d9;
    box-shadow: 0px 0px 10px black;



}

.eventNew{
    /*background-image: url("img/copie.png");*/
    background-image : url("img/muse.png");
    background-repeat: no-repeat;
    background-position:right;
    position: absolute;
    height : 250px ;
    width: 50%;
    right :25%;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px 10px 10px 10px;
    background-color: white;



}

.photonew{

    position: absolute;
    height : 100% ;
    width: 25%;
    left : 0px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}



.navg
{
    position: absolute;
    left: 50px;
    top: 340px;



}

.EventsButton{

    position: absolute;
    right: 50px;
    top: 740px;


}


.toporg
{

    width: 225px;
    height : 300px ;
    position: absolute;
    right: 50px;
    top: 340px;

    background-color : white;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px 10px 10px 10px;
    /*background-image: url("img/bande.gif");
    background-repeat: repeat-x;*/


}

.titreToporg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #666;
    border: 1px solid #666;
}

.titreToporg p {
    color: white;
}

.topevent{

    width: 1000px;
    height : 700px;
    position: absolute;
    left: 50px;
    top: 90px;

    background-color : white;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px 10px 10px 10px;
    background-image: url("img/bande.gif");
    background-repeat: repeat-x;
}



#livreor
{
    box-shadow: 0px 0px 10px black;
    width: 225px;
    height : 100px ;
    position: absolute;
    right: 0px;
    top: 640px;
    border-radius: 10px 10px 10px 10px;
    background-color : silver;


}

/*FOOTER*/


footer
{

    /*border-top-left-radius: 50px;
    border-top-right-radius: 50px;*/
    /*box-shadow: 0px 0px 10px black;*/
    width: 100%;
    /*border: 2px solid white;*/
    position: absolute;
    top: 1930px;
    height : 120px;
    background-color : #666;
    border-top: 1px solid black;
    box-shadow: 0px 0px 10px black;

}

/*FONCTION BANIERE NEWS*/

a:visited
{
    color: crimson;
}



.blanc
{
    color: whitesmoke;
}

/*FONCTION RECHERCE*/

.rechercheSimple
{
    color: white;
    text-shadow: 0px 0px 15px white;
    font-weight: bolder;
    font-family: Verdana, Trebuchet MS, Arial, sans-serif;
    margin-left: 40px;
}

.inline
{
    display : inline-block;
}

/*FORUM*/

.affichageTableau {

    border-collapse: collapse;
    width: 100%;
    text-align: center;
    /*border: 1px solid black;*/
}

.affichageTableau th {
    
    border: 1px solid #666;
}

.affichageTableau td {
    
    border: 1px solid #666;
    padding: 10px;
}

.barreDeTitre {

    box-shadow: 0px 1px 2px #666;
    border-bottom: 1px solid black;
    color:red;
    background-color: #7297b7;
}

.affichageSujet {

    border-top: 1px solid #666;
}

/*NAVIGATION FORUM*/

.navigationForum {


    margin-left:68px;
    position:absolute;
    width: 1000px;
    top:80px;
}

.sousMenuBasculeForum {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
    background-color: #666;
    padding-top: 10px;
}


.sousMenuBasculeForum a {

    color: white;
    font-size: 22px;
}

.sousMenuBasculeForum span {
    
    color: white;
    font-size: 22px;
}
/*.navigationForum a {
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    text-align: left;
    width: 145%;
}*/

/*.navigationForum .sousMenuBasculeForum span {
    display: block;
    height:35px;
    font-size: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 10px;
    color: white;
    text-decoration: none;
}*/

.navigationForum .sousMenuForumBeta {

    list-style: none;
    background-color: white;
    border-top: 1px solid black;
    margin-top: 10px;
}

.navigationForum .sousMenuForumBeta a {

    color: black;
    font-size: 18px;
    font-weight: bold;
}

.navigationForum .sousMenuForumAlpha {

    list-style: none;
    background-color: white;
    border-top: 1px solid black;
    margin-top: 10px;
}

.navigationForum .sousMenuForumAlpha a {

    color: black;
    font-size: 18px;
    font-weight: bold;
}

.nouveauCommentaire {
    
    margin-top: 30px;
}

.nouveauCommentaire textarea {
    
    width: 400px;
    height: 150px;
    padding: 3px;
    border: 1px solid  #cebd8b;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #C0C0C0 inset;
}

.creerTopic{
    
    border: 4px double black;
    width: 200px;
    height: 30px;
    position: absolute;
    margin-left: 860px;
    margin-top: 30px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: white;
    color: black;
}


.creerTopic,a:hover, creerTopic a:active {
    color: #7297b7;
}

.backPage,.pagePréc {
    
    border: 4px double black;
    width: 200px;
    height: 30px;
    position: absolute;
    margin-left: 68px;
    margin-top: 28px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.backPage,.pagePréc a:hover, backPage a:active {
    color: #7297b7;
}

.titreTopic {
    
    border: 2px solid black;
    margin-top: 80px;
    width: 400px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 370px;
    border-radius: 10px;
    background-color: #C0D5FF;
    
}

.titreTopic strong {
    
    position: relative;
    top: 25px;
    font-size: 2em;
    color: black;
}

.containerMessageForum {
   margin-top: 130px;
}

.messageForum {
    
    list-style: none;
    border-bottom: 1px solid black;
    
}

.positionMessageForum {
    
    border: 2px solid black;
    height: 200px;
    width: 900px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.positionCommentaire {
    
    border-left: 1px dashed black;
    border-right: 1px solid black;
    padding: 15px 10px 10px 10px;
    margin-top: -152px;
    margin-left: 250px;
    margin-right: -1px;
    background-color: white;
    text-align: left;
    height: 146px;
    overflow-y: auto
}

.titreMessageForum {
    
    border-bottom: 1px dashed black;
    width: 900px;
    
    
}

.positionTitreForum {
    
    text-align: right;
    clear: both;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.positionTitreForum strong {
    
    float: left;
    color: red;
}
/*RECHERCHE AVANCEE*/

.contenuRA {
    position: absolute;
    background-color: #ebe2d9;
    padding: 0px 10px 10px 10px;
    width: 700px;
    margin-left: 200px;
}

.fieldsetRA {
    padding:20px 20px 10px 20px;
    /*margin-bottom:10px;*/
    border:5px double #666;
    background-color: white;
}
.titreRA {
    color: red;
    font-weight: bold;
    font-size: 20px;
}


.contenuRA input[type=text], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuRA input[type=text], textarea, select {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:150px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuRA input[type=date], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuRA input[type=date], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:90px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuRA input[type=range], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuRA input[type=range], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:30px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuRA input[type=number], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuRA input[type=number], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:40px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuRA input[type=submit], input[type=reset] {
    margin-top: 10px;
    width:70px;
    box-shadow:0px 0px 1px black;
    cursor:pointer;
}


.couleurTexte span{


    background-color: lightgray;
    font-size: 15px;
    color: black;
}

/*CREATION PROFIL PARTICIPANT*/

.contenuCPP {
    position: absolute;
    background-color: #ebe2d9;
    padding: 0px 10px 10px 10px;
    width: 700px;
    margin-left: 200px;
}

.contenuCPP span {

    color: red;
}

.fieldsetCPP {
    padding:0 20px 20px 20px;
    border:5px double #666;
    background-color: white;
}
.titreCPP {
    color: red;
    font-weight: bold;
    font-size: 20px;
}


.contenuCPP input[type=text], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuCPP input[type=text], textarea, select {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:120px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuCPP input[type=tel], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuCPP input[type=tel], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:120px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuCPP input[type=date], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuCPP input[type=date], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:120px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuCPP input[type=url], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuCPP input[type=url], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:180px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuCPP input[type=submit], input[type=reset] {
    margin-top: 10px;
    width:70px;
    box-shadow:0px 0px 1px black;
    cursor:pointer;
}


.couleurTexte span{


    background-color: lightgray;
    font-size: 15px;
    color: black;
}

.tailleDescription {

    width: 300px;
    height: 150px;
}

/*CREATION PROFIL ORGANISATEUR*/

.contenuCPO {
    position: absolute;
    background-color: #ebe2d9;
    padding: 0px 10px 10px 10px;
    width: 700px;
    margin-left: 200px;
}

.contenuCPO span {

    color: red;
}

.fieldsetCPO {
    padding:0 20px 20px 20px;
    border:5px double #666;
    background-color: white;
}
.titreCPO {
    color: red;
    font-weight: bold;
    font-size: 20px;
}


.contenuCPO input[type=text], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuCPO input[type=text], textarea, select {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:120px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuCPO input[type=tel], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuCPO input[type=tel], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:120px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuCPO input[type=date], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuCPO input[type=date], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:120px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuCPO input[type=url], textarea, select, option {
    background-color:#F5FFED;
    /*#FFF3F3;*/
}

.contenuCPO input[type=url], textarea {
    padding:3px;
    border:1px solid  #cebd8b;
    border-radius:5px;
    width:180px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contenuCPO input[type=submit], input[type=reset] {
    margin-top: 10px;
    width:70px;
    box-shadow:0px 0px 1px black;
    cursor:pointer;
}



.couleurTexte span{


    background-color: lightgray;
    font-size: 15px;
    color: black;
}

.tailleDescription {

    width: 300px;
    height: 150px;
}

/*ARBORESSANCE*/

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #666;
    color: #fff;
    width: 200px;
    font: 1.2em "Trebuchet MS", sans-serif;
    border: 1px solid #666;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px #666;

}

.navigation a, .navigation span {
    display: block;
    padding: 4px 10px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid white;
    /*background: #000 url(img/menu-item.png) left bottom no-repeat;*/
}

.navigation .sousMenuBascule a, .navigation .sousMenuBascule span {
    /*background-image: url(img/menu-item.png);*/
}

/*.navigation .open a, .navigation .open span {
        background-image: url(img/menu-item-enroule.png);
        }*/

.navigation a:hover, .navigation a:focus, .navigation a:active {
    text-decoration: underline;
}

.navigation .sousMenu {
    list-style: none;
    /*background: #ccc url(subMenu.png) 0 0 repeat-x;*/
    background-color: burlywood;
    font-size: .9em;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #666;
}

.navigation ul.sousMenu a {
    background: none;
    padding: 3px 20px;
}

.sousMenu, .sousMenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sousMenu li ul {
    margin: -29px 0 0 115px;
    position: absolute;
    width: 10em;
    left: -999em;
    margin-left: 200px;
    display: block;
    text-decoration: none;
    border: 1px solid #666;
    background-color: #7297b7;
    text-align: left;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 0px 10px #666;
}

.sousMenu li:hover ul {
    left: auto;
    z-index: 1;
}

.sousMenu li:hover ul, .sousMenu li.sfhover ul {
    left: auto;
}

a, a:visited {
    text-decoration:none;
    outline:none;
    /*color:#54a6de;*/
}

a:hover{
    text-decoration:underline;
}

/******Livre d'or******/

#livre {
    
    background-image: url("img/livre.jpg");
    position: absolute;
    top: 320px;
    left: 500px;
    width: 1200px;
    height : 886px;
    background-repeat: no-repeat;
    
}

#gauche {
    position: absolute;
    top:30px;
    left:100px;
    width: 460px;
    height: 740px;
}
#droite {
    position: absolute;
    top:30px;
    left:650px;
    width: 460px;
    height: 740px;
}

@font-face {
    font-family: 'mathilde';
    src: url('mathilde.otf') format('opentype');
}

.com {
    width: 460px;
    font-family: mathilde;    
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.pseudo {
    color: #640000;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
}
.date {
    color: firebrick;
    font-family: Comic Sans MS;
    font-size: 14px;
}
.heure {
    color: green;
    font-family: Comic Sans MS;
    font-size: 14px;
}
#livrepost {
    text-align: center;
    position: absolute;
    top:1230px;
    left: 860px;
      
}
#livrepost textarea {
    width: 500px;
}
#pageLivreOr {
    position: absolute;
    top: 780px;
}

/****Profil*****/

#description {
    padding: 50px;
    width : 76%;
    height : 1200px;
    position: absolute;
    right : 50px;
    top : 300px;
    background-color: #ebe2d9;
    overflow : auto;
    box-shadow: 0px 0px 10px black; 
    text-align: justify;
}
fieldset{
    background: whitesmoke;
}
#nom4 {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    left: 300px;
    top : 40px;        
}
#lieu {
    position: absolute;
    font-size: 25px;
    font-style: italic;
    left: 300px;
    top : 130px;        
}
.menu {
    position: absolute;
    width: 76%;
    height: 930px;
    right: 97px;
    top: 620px;
    overflow : auto;
    background-color: whitesmoke;
    border: solid grey 1px;

}
ul#simple-menu
{
    list-style-type:none;
    width:76%;
    position:relative;
    height:40px;
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-size:25px;
    font-weight:bold;
}

ul#simple-menu li
{
    display:block;
    float:left;
    margin:0 0 0 6px;
    height:40px;
}


ul#simple-menu li input
{
    display:block;
    float:left;
    color:#fff;
    background:#4A6867;
    line-height:40px;
    text-decoration:none;
    padding:0px 17px 0px 18px;
    height:40px;
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-size:25px;
    font-weight:bold;
}

ul#simple-menu li input.right
{
    padding-right:10px;
}

ul#simple-menu li input:hover
{
    background:#2E4560;
}

ul#simple-menu li input.current
{
    color:#2E4560;
    background:#fff;
}

ul#simple-menu li input.current:hover
{
    color:#2E4560;
    background:#fff;
}
#preference{
    position: absolute;
    padding: 20px;
    width: 38%;
    right: 145px;
    top: 703px;
    font-size: 20px;
    text-align: justify;
}

strong{
    font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
}
.titre{
    font-size: 23px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
#infoPerso{
    position: absolute;
    padding: 20px;
    width: 38%;
    right: 775px;
    top: 703px;
    font-size: 20px;
    text-align: justify;
}
#infoPro{
    position: absolute;
    padding: 20px;
    width: 30%;
    right: 150px;
    top: 700px;
    font-size: 20px;
}
#amis{
    position: absolute;
    padding: 20px;
    width: 70%;
    right: 140px;
    top: 703px;
    font-size: 20px;    
    text-align: justify;
}
#amis fieldset {
    margin: 10px;
}
#description img, #amis img{
    margin: 15px;
}
#nom1 {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    left: 350px;
    top : 70px;        
}
#lieu1 {
    position: absolute;
    font-size: 20px;
    font-style: italic;
    left: 350px;
    top : 140px;        
}
#nom2 {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    left: 350px;
    top : 320px;        
}
#lieu2 {
    position: absolute;
    font-size: 20px;
    font-style: italic;
    left: 350px;
    top : 390px;        
}
#nom3 {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    left: 350px;
    top : 560px;        
}
#lieu3 {
    position: absolute;
    font-size: 20px;
    font-style: italic;
    left: 350px;
    top : 630px;        
}

#mesEvents{
    position: absolute;
    top: 703px;
    right: 140px;
    overflow: auto;
    width: 71%;
    height: 849px;
}

