    /*droite*/
.sidebar-left-floatleft
{
list-style : none;
width: 225px;
height : 100px ;
position: absolute;
right: 1450px;
top:1100px;
}
#sidebar-accordion
{
list-style : none;
}
.active li
{
padding-right: 20px;
border: 5px solid black;
list-style : none;
}

/*milieu*/

.floatright-main
{
overflow: auto;
text-align : center ;
width: 55%;
height : 849px ;
position: absolute;
right: 100px;
top:1100px;
}
.rollin1
{
text-align : center ;
width: 900px;
height : 1000px ;
position: absolute;
left : 300px;
top:200px;
}

.col_third_floatleft
{

left:400px;
display:block;

}

.rollin2
{
text-align : center ;
width: 700px;
height : 675px ;
position: absolute;
left : 300px;
top:250px;
}
.rollin3
{
text-align : center ;
width: 700px;
height : 150px ;
position: absolute;
left : 300px;
top:250px;
}

.rollin4
{

width: 700px;
height : 200px ;
position: absolute;
left : 300px;
top:250px;
}

.rollin5
{
text-align : center ;
width: 700px;
height : 230px ;
position: absolute;
left : 300px;
top:250px;
}

.rollin6
{
text-align : center ;
width: 700px;
height : 400px ;
position: absolute;
left : 300px;
top:250px;
}

sup
{
    color:red;
}