    /*droite*/
.menuParametres
{
list-style : none;
width: 225px;
height : 100px ;
position: absolute;
right: 1450px;
top:1100px;
}
#menuParametre
{
list-style : none;
}
.active li
{
padding-right: 20px;
border: 5px solid black;
list-style : none;
}

/*milieu*/

.titreParametre  
{
overflow: auto;
text-align : center ;
width: 55%;
height : 849px ;
position: absolute;
right: 280px;
top: 703px;
}
.rollin1
{
text-align : center ;
width: 900px;
height : 1000px ;
position: absolute;
right: 450px;
top:1100px;
}

.infoPerso
{

left:400px;
display:block;

}

.rollin2
{
text-align : center ;
width: 700px;
height : 675px ;
position: absolute;
right : 450px;
top:1150px;
}
.rollin3
{
text-align : center ;
width: 700px;
height : 150px ;
position: absolute;
right:  450px;
top:1150px;
}

.rollin4
{

width: 700px;
height : 200px ;
position: absolute;
right: 450px;
top:1350px;
}

.rollin5
{
text-align : center ;
width: 700px;
height : 230px ;
position: absolute;
right : 450px;
top:1530px;
}

.rollin6
{
text-align : center ;
width: 700px;
height : 400px ;
position: absolute;
right : 450px;
top:1100px;
}

sup
{
    color:red;
}